<?xml version="1.0" encoding="utf-16"?>
<LayoutRoot xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <RootPanel Orientation="Horizontal">
    <LayoutPanel Orientation="Horizontal">
      <LayoutDocumentPaneGroup Orientation="Horizontal">
        <LayoutDocumentPane>
          <LayoutDocument Title="Пациенты" IsSelected="True" IsLastFocusedDocument="True" ContentId="Screen" CanClose="False" CanFloat="False" />
        </LayoutDocumentPane>
      </LayoutDocumentPaneGroup>
    </LayoutPanel>
    <LayoutAnchorablePaneGroup Orientation="Horizontal" DocMinWidth="320"FloatingWidth="320">
      <LayoutAnchorablePane Id="0092fc88-7dd9-4766-a60a-b3c96da5513e" Name="Search" DocMinWidth="320" FloatingWidth="320" />
    </LayoutAnchorablePaneGroup>
  </RootPanel>
  <TopSide />
  <RightSide>
    <LayoutAnchorGroup PreviousContainerId="0092fc88-7dd9-4766-a60a-b3c96da5513e">
      <LayoutAnchorable CanHide="False" CanClose="False" AutoHideMinWidth="320" Title="Поиск" ContentId="Search" />
    </LayoutAnchorGroup>
  </RightSide>
  <LeftSide />
  <BottomSide />
  <FloatingWindows />
  <Hidden />
</LayoutRoot>