body {
    font-family: 'Segoe UI', Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    margin: 0;
    padding: 0;
}

p, h1, h2, h3, h4 {
    font-family: 'Segoe UI', Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 11pt;
	margin: 0 0 1em;
}

h1 {
    font-size: 18pt;
    font-family: 'Segoe UI Semilight', Cambria, 'Times New Roman';
    color: #000080;
}

h2 {
    font-size: 16pt;
	margin: 1em 0 0.5em;
}

h3 {
    font-size: 14pt;
	margin: 1em 0 0.5em;
}

h4 {
    font-family: 'Segoe UI Semibold';
    font-size: 12pt;
}

#header {
    background-color: #003399;
    color: #8080af;
    font-family: arial, Helvetica, sans-serif;
    font-size: 11pt;
    padding: 8px 16px;
}

    #header a {
        border: 0;
        color: #ffffff;
        text-decoration: none;
        margin: 0 8px;
    }

        #header a:hover {
            color: Yellow;
        }

    #header img {
        border: 0;
        vertical-align: middle;
    }

#mainbody {
    margin: 16px;
}

table, th, td {
    /*font-family: Verdana, Arial, Helvetica, sans-serif;*/
    font-size: 10pt;
    text-align: left;
}

ul li {
    margin: 6px 0;
    list-style-type: square;
}

#mainbody a {
    text-decoration: underline;
    color: #000080;
}

    #mainbody a:hover {
        text-decoration: underline;
    }
	
#contents a {
    text-decoration: none;
}

#footer {
    border-top: 1px solid #bbbbbb;
    margin: 6px;
    padding: 12px;
    font-size: 8pt;
    text-align: center;
}

.hint-box {
    /* background-color: #DDD; */
	padding: 4px 10px;
	margin-left: 20px;
	border-left: #DDD 10px solid;
	font-size: 10.5pt;
}

table {
    border-collapse: collapse;
}

td, th {
    padding: .3em;
    border: 1px #ccc solid;
}